.name {
  color: #000;
  font-size: 22px;
  font-family: Roboto;
  font-weight: 500;
}

.dish-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.dish-item {
  border: 1px solid #ccc;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.each_dish_item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.image {
  height: 150px;
  width: 150px;
}

.controls {
  background-color: rgb(9, 235, 9);
  border: none;
  border-radius: 30px;
  color: #fff;
  padding: 5px;
  width: 100px;
}

.btn {
  background-color: transparent;
  border: none;
  color: #fff;
}
