* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Add your CSS styles here */
body {
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  color: #000;
}

.category-list {
  display: flex;
  overflow-x: auto;
  padding: 10px;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.button {
  color: #000;
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-weight: 500;
  font-family: Roboto;
  margin-left: 15px;
}

.name {
  color: #000;
  font-size: 22px;
  font-family: Roboto;
  font-weight: 500;
}

.dish-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.dish-item {
  border: 1px solid #ccc;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.each_dish_item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.image {
  height: 150px;
  width: 150px;
}

.controls {
  background-color: rgb(9, 235, 9);
  border: none;
  border-radius: 30px;
  color: #fff;
  padding: 5px;
  width: 100px;
}

.btn {
  background-color: transparent;
  border: none;
  color: #fff;
}
